public/catalog.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Наедине</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="theme-color" content="#ffffff">
    <!-- icon & css-->
    <link rel="icon" href="/image/favicon.ico" sizes="any">
    <link rel="icon" href="/image/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
  <link href="/assets/css/vendors.css?v=dc9fcb1" rel="stylesheet"><link href="/assets/css/main.css?v=969d1b5" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header__group">
        <div class="header-logo"><a href="/" title="Наедине"><img src="/image/logo.svg" alt="Наедине"></a></div>
        <nav class="header-menu">
          <ul>
            <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
            <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
            <li><a href="/faq.html" title="FAQ">FAQ</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__group">
        <div class="header-cart"><a href="/cart.html" title="Корзина">
            <svg>
              <use href="/image/icon/cart.svg#cart"></use>
            </svg><span>0</span></a></div>
        <div class="header-menu-bar"><a href="#" data-action="open-menu" title="Открыть меню">
            <svg>
              <use href="/image/icon/menu.svg#menu"></use>
            </svg></a></div>
      </div>
    </div>
  </div>
</header>
<!-- Menu-->
<div id="menu">
  <div class="container">
    <div class="menu content">
      <div class="menu__link"><a href="#" data-action="close-menu" title="Закрыть меню">
          <svg>
            <use href="/image/icon/close.svg#close"></use>
          </svg></a></div>
      <div class="menu-logo"><img src="/image/logo.svg" alt="Наедине"></div>
      <nav class="menu-menu">
        <ul>
          <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
          <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
          <li><a href="/faq.html" title="FAQ">FAQ</a></li>
        </ul>
      </nav>
      <div class="menu-contacts">
        <div class="menu-contacts__link"><a href="tel:+79009009090" title="Позвонить">+7 900 900 90 90</a></div>
        <div class="menu-contacts__link"><a href="mailto:naedine.uz@gmail.com" title="Написать">naedine.uz@gmail.com</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Menu end-->
      <main>
        <section id="catalog">
          <div class="container">
            <div class="catalog content">
              <div class="catalog__title">
                <h1>Каталог</h1>
              </div>
              <div class="catalog-filter">
                <div class="catalog-filter-menu-bar"><a href="#" data-action="open-filter" title="Показать фильтр">
                    <svg>
                      <use href="/image/icon/filter.svg#filter"></use>
                    </svg></a></div>
                <ul class="catalog-filter-menu">
                  <li class="catalog-filter-menu__item">
                    <div class="select catalog-filter-menu__select">
                      <div class="select-block"><a href="#" data-action="toggle-select" title="Категория"><span>Категория</span>
                          <svg>
                            <use href="/image/icon/vector.svg#vector"></use>
                          </svg></a></div>
                      <ul class="select-options">
                        <li class="select-options__item" data-value="Вибраторы">
                          <div class="checkbox select-options__checkbox">
                            <div class="checkbox__check" data-action="check"></div>
                            <div class="checkbox__group" data-action="toggle-box">
                              <div class="checkbox__title">Вибраторы</div>
                              <div class="checkbox__icon">
                                <svg>
                                  <use href="/image/icon/vector.svg#vector"></use>
                                </svg>
                              </div>
                            </div>
                          </div>
                          <ul class="select-options__inner">
                            <li class="select-options__item" data-value="Менструальные чаши">
                              <div class="checkbox select-options__checkbox">
                                <div class="checkbox__check" data-action="check"></div>
                                <div class="checkbox__title">Менструальные чаши</div>
                              </div>
                            </li>
                            <li class="select-options__item" data-value="Тампоны">
                              <div class="checkbox select-options__checkbox">
                                <div class="checkbox__check" data-action="check"></div>
                                <div class="checkbox__title">Тампоны</div>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="catalog-filter-menu__item">
                    <div class="select catalog-filter-menu__link"><a href="#" data-action="clear-filter" title="Очистить все фильтры">Очистить все фильтры</a></div>
                  </li>
                </ul>
                <div class="catalog-sort">
                  <div class="select catalog-sort__select">
                    <div class="select-block"><a href="#" data-action="toggle-select" title="Сортировать"><span>Сортировать</span>
                        <svg>
                          <use href="/image/icon/vector.svg#vector"></use>
                        </svg></a></div>
                    <ul class="select-options select-options--right">
                      <li class="select-options__item current" data-value="price-up"><a href="#" data-action="toggle-select" title="сначала недорогие">сначала недорогие</a></li>
                      <li class="select-options__item" data-value="price-down"><a href="#" data-action="toggle-select" title="сначала дорогие">сначала дорогие</a></li>
                      <li class="select-options__item" data-value="top"><a href="#" data-action="toggle-select" title="сначала популярные">сначала популярные</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <form class="form catalog-search-form" name="catalog-search" autocomplete="off">
                <fieldset class="form__line">
                  <input class="form__input" type="search" name="search" required placeholder="Я ищу..." value="" title="Поиск">
                  <div class="form__icon">
                    <svg>
                      <use href="/image/icon/search.svg#search"></use>
                    </svg>
                  </div>
                </fieldset>
              </form>
              <div class="catalog-list">
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="SATISFYER 2 next gen"><img src="/image/product/1.png" srcset="/image/product/1@2x.png 2x" loading="lazy" alt="SATISFYER 2 next gen"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор вакуумный">Стимулятор вакуумный</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="SATISFYER 2 next gen">
                        <h4>SATISFYER 2 next gen</h4></a></div>
                    <div class="product-card__price">1 864 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="WOMANIZER premium 2 pink"><img src="/image/product/2.png" srcset="/image/product/2@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="TENGA № 8 crater"><img src="/image/product/3.png" srcset="/image/product/3@2x.png 2x" loading="lazy" alt="TENGA № 8 crater"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор яйцо">Стимулятор яйцо</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="TENGA № 8 crater">
                        <h4>TENGA № 8 crater</h4></a></div>
                    <div class="product-card__price">552 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="WOMANIZER premium 2 pink"><img src="/image/product/4.png" srcset="/image/product/4@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="SATISFYER 2 next gen"><img src="/image/product/5.png" srcset="/image/product/5@2x.png 2x" loading="lazy" alt="SATISFYER 2 next gen"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор вакуумный">Стимулятор вакуумный</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="SATISFYER 2 next gen">
                        <h4>SATISFYER 2 next gen</h4></a></div>
                    <div class="product-card__price">1 864 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="WOMANIZER premium 2 pink"><img src="/image/product/6.png" srcset="/image/product/6@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="TENGA № 8 crater"><img src="/image/product/7.png" srcset="/image/product/7@2x.png 2x" loading="lazy" alt="TENGA № 8 crater"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор яйцо">Стимулятор яйцо</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="TENGA № 8 crater">
                        <h4>TENGA № 8 crater</h4></a></div>
                    <div class="product-card__price">552 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="WOMANIZER premium 2 pink"><img src="/image/product/8.png" srcset="/image/product/8@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="SATISFYER 2 next gen"><img src="/image/product/1.png" srcset="/image/product/1@2x.png 2x" loading="lazy" alt="SATISFYER 2 next gen"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор вакуумный">Стимулятор вакуумный</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="SATISFYER 2 next gen">
                        <h4>SATISFYER 2 next gen</h4></a></div>
                    <div class="product-card__price">1 864 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="WOMANIZER premium 2 pink"><img src="/image/product/2.png" srcset="/image/product/2@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="TENGA № 8 crater"><img src="/image/product/3.png" srcset="/image/product/3@2x.png 2x" loading="lazy" alt="TENGA № 8 crater"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор яйцо">Стимулятор яйцо</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="TENGA № 8 crater">
                        <h4>TENGA № 8 crater</h4></a></div>
                    <div class="product-card__price">552 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="WOMANIZER premium 2 pink"><img src="/image/product/4.png" srcset="/image/product/4@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="SATISFYER 2 next gen"><img src="/image/product/5.png" srcset="/image/product/5@2x.png 2x" loading="lazy" alt="SATISFYER 2 next gen"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор вакуумный">Стимулятор вакуумный</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="SATISFYER 2 next gen">
                        <h4>SATISFYER 2 next gen</h4></a></div>
                    <div class="product-card__price">1 864 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="WOMANIZER premium 2 pink"><img src="/image/product/6.png" srcset="/image/product/6@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="TENGA № 8 crater"><img src="/image/product/7.png" srcset="/image/product/7@2x.png 2x" loading="lazy" alt="TENGA № 8 crater"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор яйцо">Стимулятор яйцо</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="TENGA № 8 crater">
                        <h4>TENGA № 8 crater</h4></a></div>
                    <div class="product-card__price">552 сум</div>
                  </div>
                </div>
                <div class="product-card catalog-list__item">
                  <div class="product-card__image"><a href="/product.html" title="WOMANIZER premium 2 pink"><img src="/image/product/8.png" srcset="/image/product/8@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
              </div>
              <div class="catalog__button">
                <div class="button button--dark"><a href="#" title="Показать ещё">Показать ещё</a></div>
              </div>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <div class="footer__main">
        <div class="footer-logo"><img src="/image/logo.svg" alt="Наедине"></div>
        <div class="footer-copyright">
          <p>&copy; Наедине, 2023</p>
        </div>
      </div>
      <div class="footer__navigation">
        <nav class="footer-menu">
          <ul>
            <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
            <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
            <li><a href="/faq.html" title="FAQ">FAQ</a></li>
          </ul>
        </nav>
        <nav class="footer-terms-menu">
          <ul>
            <li><a href="/terms.html" title="Соглашение на&nbsp;обработку&nbsp;данных">Соглашение на&nbsp;обработку&nbsp;данных</a></li>
            <li><a href="/terms.html" title="Публичная оферта">Публичная оферта</a></li>
            <li><a href="/certificates.html" title="Сертификаты">Сертификаты</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__info">
        <div class="footer-contacts">
          <div class="footer-contacts__link"><a href="tel:+79009009090" title="Позвонить">+7 900 900 90 90</a></div>
          <div class="footer-contacts__link"><a href="mailto:naedine.uz@gmail.com" title="Написать">naedine.uz@gmail.com</a></div>
        </div>
        <div class="footer__link">Дизайн сайта: <a href="//etakanikul.ru" target="_blank" title="etakanikul">etakanikul</a></div>
      </div>
    </div>
  </div>
</footer>
    </div>
<!-- Popup-->
<div class="popup" id="popup">
  <div class="popup__overlay" data-action="close-popup"></div>
  <!-- Проверка пользователя на возраст-->
  <div class="age-verify popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="age-verify__main">
      <div class="age-verify__title">
        <h3>Вам есть 18 лет?</h3>
      </div>
      <div class="age-verify__text">
        <p>На сайте может содержаться информация, не&nbsp;предназначенная для&nbsp;лиц, не достигших 18 лет.</p>
      </div>
      <div class="age-verify__buttons">
        <div class="button button--accent"><a href="#" data-action="yes" title="Да, мне есть 18">Да</a></div>
        <div class="button button--light"><a href="#" data-action="no" title="Нет, мне нет 18">Нет</a></div>
      </div>
    </div>
  </div>
  <!-- Блокировка пользователя-->
  <div class="user-block popup__module popup__module--center">
    <div class="user-block__image">
      <picture>
        <source srcset="/image/illustration/popup-user-block.jpg, /image/illustration/popup-user-block@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"><img src="/image/illustration/popup-user-block.m.jpg" srcset="/image/illustration/popup-user-block.m@2x.jpg 2x" loading="lazy" alt="illustration">
      </picture>
    </div>
    <div class="user-block__main">
      <div class="user-block__title">
        <h3>Извините, контент на данном сайте предназначен&nbsp;для&nbsp;лиц, старше 18 лет</h3>
      </div>
    </div>
  </div>
  <!-- Уведомление о поступлении товара-->
  <div class="notify popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="notify__main">
      <div class="notify__title">
        <h3>Уведомление о&nbsp;поступлении товара</h3>
      </div>
      <div class="notify__text">
        <p>Оставьте заявку и мы сообщим вам, когда товар появится в наличии.</p>
      </div>
      <form class="form notify-form" name="notify" autocomplete="off">
        <input type="hidden" name="product-id" value="2">
        <fieldset class="form__line">
          <input class="form__input" type="email" name="email" required placeholder="Email*" value="" title="Ваш email">
        </fieldset>
        <div class="form__button">
          <div class="button button--accent"><a href="#" data-action="send-form" title="Оставить заявку">Оставить заявку</a></div>
        </div>
      </form>
    </div>
  </div>
  <!-- Спасибо-->
  <div class="thanks popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="thanks__main">
      <div class="thanks__title">
        <h3>Спасибо, ваша заявка&nbsp;отправлена</h3>
      </div>
      <div class="thanks__text">
        <p>Мы сообщим вам, когда товар появится&nbsp;в&nbsp;наличии.</p>
      </div>
      <div class="thanks__button">
        <div class="button button--accent"><a href="#" data-action="close-popup" title="Продолжить покупки">Продолжить покупки</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Popup end-->
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=caf8d5c"></script><script defer src="/assets/js/main.js?v=20de6a9"></script></body>
</html>

src/view/catalog.pug
extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'catalog'
  -
    let products = [
      { id: 1, category: 'Стимулятор вакуумный', title: 'SATISFYER 2 next gen', price: '1 864' },
      { id: 2, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' },
      { id: 3, category: 'Стимулятор яйцо', title: 'TENGA № 8 crater', price: '552' },
      { id: 4, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' },
      { id: 5, category: 'Стимулятор вакуумный', title: 'SATISFYER 2 next gen', price: '1 864' },
      { id: 6, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' },
      { id: 7, category: 'Стимулятор яйцо', title: 'TENGA № 8 crater', price: '552' },
      { id: 8, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' }
    ]

block content
  section#catalog
    .container
      .catalog.content
        .catalog__title
          h1 Каталог
        .catalog-filter
          .catalog-filter-menu-bar
            a(href='#' data-action='open-filter' title='Показать фильтр')
              svg
                use(href='/image/icon/filter.svg#filter')
          ul.catalog-filter-menu
            li.catalog-filter-menu__item
              .select.catalog-filter-menu__select
                .select-block
                  a(href='#' data-action='toggle-select' title='Категория')
                    span Категория
                    svg
                      use(href='/image/icon/vector.svg#vector')
                ul.select-options
                  li.select-options__item(data-value='Вибраторы')
                    .checkbox.select-options__checkbox
                      .checkbox__check(data-action='check')
                      .checkbox__group(data-action='toggle-box')
                        .checkbox__title Вибраторы
                        .checkbox__icon
                          svg
                            use(href='/image/icon/vector.svg#vector')
                    ul.select-options__inner
                      li.select-options__item(data-value='Менструальные чаши')
                        .checkbox.select-options__checkbox
                          .checkbox__check(data-action='check')
                          .checkbox__title Менструальные чаши
                      li.select-options__item(data-value='Тампоны')
                        .checkbox.select-options__checkbox
                          .checkbox__check(data-action='check')
                          .checkbox__title Тампоны
            li.catalog-filter-menu__item
              .select.catalog-filter-menu__link
                a(href='#' data-action='clear-filter' title='Очистить все фильтры') Очистить все фильтры
          .catalog-sort
            .select.catalog-sort__select
              .select-block
                a(href='#' data-action='toggle-select' title='Сортировать')
                  span Сортировать
                  svg
                    use(href='/image/icon/vector.svg#vector')
              ul.select-options.select-options--right
                li.select-options__item.current(data-value='price-up')
                  a(href='#' data-action='toggle-select' title='сначала недорогие') сначала недорогие
                li.select-options__item(data-value='price-down')
                  a(href='#' data-action='toggle-select' title='сначала дорогие') сначала дорогие
                li.select-options__item(data-value='top')
                  a(href='#' data-action='toggle-select' title='сначала популярные') сначала популярные
        form.form.catalog-search-form(name='catalog-search' autocomplete='off')
          fieldset.form__line
            input.form__input(type='search' name='search' required placeholder='Я ищу...' value='' title='Поиск')
            .form__icon
              svg
                use(href='/image/icon/search.svg#search')
        .catalog-list
          - for (let i = 1; i <= 2; i++)
            each product in products
              .product-card.catalog-list__item
                .product-card__image
                  a(href='/product.html' title=product.title)
                    img(src='/image/product/' + product.id + '.png' srcset='/image/product/' + product.id + '@2x.png 2x' loading='lazy' alt=product.title)
                .product-card__category
                  a(href='#' title=product.category) #{ product.category }
                .product-card__group
                  .product-card__title
                    a(href='/product.html' title=product.title)
                      h4 #{ product.title }
                  .product-card__price #{ product.price } сум
        .catalog__button
          .button.button--dark
            a(href='#' title='Показать ещё') Показать ещё
