src/view/faq.pug
extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'faq'

block content
  section#faq
    .container
      .faq.content
        .faq__title
          h1 FAQ
        .faq__main
          .faq__block
            .faq__subtitle
              h3 Лубриканты
            ul.faq-list
              - for (let i = 1; i <= 4; i++)
                li.faq-list__item
                  .faq-list__question(area-expanded=(i == 1 ? 'true' : 'false'))
                    .faq-list__title
                      h5 Что входит в состав лубрикантов?
                    .faq-list__icon
                      svg
                        use(href=(i == 1 ? '/image/icon/close.svg#close' : '/image/icon/plus.svg#plus'))
                  .faq-list__answer
                    .faq-list__text
                      p Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.
          .faq__block
            .faq__subtitle
              h3 Презервативы
            ul.faq-list
              - for (let i = 1; i <= 4; i++)
                li.faq-list__item
                  .faq-list__question(area-expanded='false')
                    .faq-list__title
                      h5 Что входит в состав лубрикантов?
                    .faq-list__icon
                      svg
                        use(href='/image/icon/plus.svg#plus')
                  .faq-list__answer
                    .faq-list__text
                      p Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.
          .faq__block
            .faq__subtitle
              h3 Вибраторы
            ul.faq-list
              - for (let i = 1; i <= 4; i++)
                li.faq-list__item
                  .faq-list__question(area-expanded='false')
                    .faq-list__title
                      h5 Что входит в состав лубрикантов?
                    .faq-list__icon
                      svg
                        use(href='/image/icon/plus.svg#plus')
                  .faq-list__answer
                    .faq-list__text
                      p Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.

public/faq.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Наедине</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="theme-color" content="#ffffff">
    <!-- icon & css-->
    <link rel="icon" href="/image/favicon.ico" sizes="any">
    <link rel="icon" href="/image/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
  <link href="/assets/css/vendors.css?v=dc9fcb1" rel="stylesheet"><link href="/assets/css/main.css?v=969d1b5" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header__group">
        <div class="header-logo"><a href="/" title="Наедине"><img src="/image/logo.svg" alt="Наедине"></a></div>
        <nav class="header-menu">
          <ul>
            <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
            <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
            <li><a href="/faq.html" title="FAQ">FAQ</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__group">
        <div class="header-cart"><a href="/cart.html" title="Корзина">
            <svg>
              <use href="/image/icon/cart.svg#cart"></use>
            </svg><span>0</span></a></div>
        <div class="header-menu-bar"><a href="#" data-action="open-menu" title="Открыть меню">
            <svg>
              <use href="/image/icon/menu.svg#menu"></use>
            </svg></a></div>
      </div>
    </div>
  </div>
</header>
<!-- Menu-->
<div id="menu">
  <div class="container">
    <div class="menu content">
      <div class="menu__link"><a href="#" data-action="close-menu" title="Закрыть меню">
          <svg>
            <use href="/image/icon/close.svg#close"></use>
          </svg></a></div>
      <div class="menu-logo"><img src="/image/logo.svg" alt="Наедине"></div>
      <nav class="menu-menu">
        <ul>
          <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
          <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
          <li><a href="/faq.html" title="FAQ">FAQ</a></li>
        </ul>
      </nav>
      <div class="menu-contacts">
        <div class="menu-contacts__link"><a href="tel:+79009009090" title="Позвонить">+7 900 900 90 90</a></div>
        <div class="menu-contacts__link"><a href="mailto:naedine.uz@gmail.com" title="Написать">naedine.uz@gmail.com</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Menu end-->
      <main>
        <section id="faq">
          <div class="container">
            <div class="faq content">
              <div class="faq__title">
                <h1>FAQ</h1>
              </div>
              <div class="faq__main">
                <div class="faq__block">
                  <div class="faq__subtitle">
                    <h3>Лубриканты</h3>
                  </div>
                  <ul class="faq-list">
                    <li class="faq-list__item">
                      <div class="faq-list__question" area-expanded="true">
                        <div class="faq-list__title">
                          <h5>Что входит в состав лубрикантов?</h5>
                        </div>
                        <div class="faq-list__icon">
                          <svg>
                            <use href="/image/icon/close.svg#close"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="faq-list__answer">
                        <div class="faq-list__text">
                          <p>Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.</p>
                        </div>
                      </div>
                    </li>
                    <li class="faq-list__item">
                      <div class="faq-list__question" area-expanded="false">
                        <div class="faq-list__title">
                          <h5>Что входит в состав лубрикантов?</h5>
                        </div>
                        <div class="faq-list__icon">
                          <svg>
                            <use href="/image/icon/plus.svg#plus"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="faq-list__answer">
                        <div class="faq-list__text">
                          <p>Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.</p>
                        </div>
                      </div>
                    </li>
                    <li class="faq-list__item">
                      <div class="faq-list__question" area-expanded="false">
                        <div class="faq-list__title">
                          <h5>Что входит в состав лубрикантов?</h5>
                        </div>
                        <div class="faq-list__icon">
                          <svg>
                            <use href="/image/icon/plus.svg#plus"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="faq-list__answer">
                        <div class="faq-list__text">
                          <p>Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.</p>
                        </div>
                      </div>
                    </li>
                    <li class="faq-list__item">
                      <div class="faq-list__question" area-expanded="false">
                        <div class="faq-list__title">
                          <h5>Что входит в состав лубрикантов?</h5>
                        </div>
                        <div class="faq-list__icon">
                          <svg>
                            <use href="/image/icon/plus.svg#plus"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="faq-list__answer">
                        <div class="faq-list__text">
                          <p>Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="faq__block">
                  <div class="faq__subtitle">
                    <h3>Презервативы</h3>
                  </div>
                  <ul class="faq-list">
                    <li class="faq-list__item">
                      <div class="faq-list__question" area-expanded="false">
                        <div class="faq-list__title">
                          <h5>Что входит в состав лубрикантов?</h5>
                        </div>
                        <div class="faq-list__icon">
                          <svg>
                            <use href="/image/icon/plus.svg#plus"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="faq-list__answer">
                        <div class="faq-list__text">
                          <p>Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.</p>
                        </div>
                      </div>
                    </li>
                    <li class="faq-list__item">
                      <div class="faq-list__question" area-expanded="false">
                        <div class="faq-list__title">
                          <h5>Что входит в состав лубрикантов?</h5>
                        </div>
                        <div class="faq-list__icon">
                          <svg>
                            <use href="/image/icon/plus.svg#plus"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="faq-list__answer">
                        <div class="faq-list__text">
                          <p>Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.</p>
                        </div>
                      </div>
                    </li>
                    <li class="faq-list__item">
                      <div class="faq-list__question" area-expanded="false">
                        <div class="faq-list__title">
                          <h5>Что входит в состав лубрикантов?</h5>
                        </div>
                        <div class="faq-list__icon">
                          <svg>
                            <use href="/image/icon/plus.svg#plus"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="faq-list__answer">
                        <div class="faq-list__text">
                          <p>Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.</p>
                        </div>
                      </div>
                    </li>
                    <li class="faq-list__item">
                      <div class="faq-list__question" area-expanded="false">
                        <div class="faq-list__title">
                          <h5>Что входит в состав лубрикантов?</h5>
                        </div>
                        <div class="faq-list__icon">
                          <svg>
                            <use href="/image/icon/plus.svg#plus"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="faq-list__answer">
                        <div class="faq-list__text">
                          <p>Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="faq__block">
                  <div class="faq__subtitle">
                    <h3>Вибраторы</h3>
                  </div>
                  <ul class="faq-list">
                    <li class="faq-list__item">
                      <div class="faq-list__question" area-expanded="false">
                        <div class="faq-list__title">
                          <h5>Что входит в состав лубрикантов?</h5>
                        </div>
                        <div class="faq-list__icon">
                          <svg>
                            <use href="/image/icon/plus.svg#plus"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="faq-list__answer">
                        <div class="faq-list__text">
                          <p>Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.</p>
                        </div>
                      </div>
                    </li>
                    <li class="faq-list__item">
                      <div class="faq-list__question" area-expanded="false">
                        <div class="faq-list__title">
                          <h5>Что входит в состав лубрикантов?</h5>
                        </div>
                        <div class="faq-list__icon">
                          <svg>
                            <use href="/image/icon/plus.svg#plus"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="faq-list__answer">
                        <div class="faq-list__text">
                          <p>Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.</p>
                        </div>
                      </div>
                    </li>
                    <li class="faq-list__item">
                      <div class="faq-list__question" area-expanded="false">
                        <div class="faq-list__title">
                          <h5>Что входит в состав лубрикантов?</h5>
                        </div>
                        <div class="faq-list__icon">
                          <svg>
                            <use href="/image/icon/plus.svg#plus"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="faq-list__answer">
                        <div class="faq-list__text">
                          <p>Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.</p>
                        </div>
                      </div>
                    </li>
                    <li class="faq-list__item">
                      <div class="faq-list__question" area-expanded="false">
                        <div class="faq-list__title">
                          <h5>Что входит в состав лубрикантов?</h5>
                        </div>
                        <div class="faq-list__icon">
                          <svg>
                            <use href="/image/icon/plus.svg#plus"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="faq-list__answer">
                        <div class="faq-list__text">
                          <p>Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <div class="footer__main">
        <div class="footer-logo"><img src="/image/logo.svg" alt="Наедине"></div>
        <div class="footer-copyright">
          <p>&copy; Наедине, 2023</p>
        </div>
      </div>
      <div class="footer__navigation">
        <nav class="footer-menu">
          <ul>
            <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
            <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
            <li><a href="/faq.html" title="FAQ">FAQ</a></li>
          </ul>
        </nav>
        <nav class="footer-terms-menu">
          <ul>
            <li><a href="/terms.html" title="Соглашение на&nbsp;обработку&nbsp;данных">Соглашение на&nbsp;обработку&nbsp;данных</a></li>
            <li><a href="/terms.html" title="Публичная оферта">Публичная оферта</a></li>
            <li><a href="/certificates.html" title="Сертификаты">Сертификаты</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__info">
        <div class="footer-contacts">
          <div class="footer-contacts__link"><a href="tel:+79009009090" title="Позвонить">+7 900 900 90 90</a></div>
          <div class="footer-contacts__link"><a href="mailto:naedine.uz@gmail.com" title="Написать">naedine.uz@gmail.com</a></div>
        </div>
        <div class="footer__link">Дизайн сайта: <a href="//etakanikul.ru" target="_blank" title="etakanikul">etakanikul</a></div>
      </div>
    </div>
  </div>
</footer>
    </div>
<!-- Popup-->
<div class="popup" id="popup">
  <div class="popup__overlay" data-action="close-popup"></div>
  <!-- Проверка пользователя на возраст-->
  <div class="age-verify popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="age-verify__main">
      <div class="age-verify__title">
        <h3>Вам есть 18 лет?</h3>
      </div>
      <div class="age-verify__text">
        <p>На сайте может содержаться информация, не&nbsp;предназначенная для&nbsp;лиц, не достигших 18 лет.</p>
      </div>
      <div class="age-verify__buttons">
        <div class="button button--accent"><a href="#" data-action="yes" title="Да, мне есть 18">Да</a></div>
        <div class="button button--light"><a href="#" data-action="no" title="Нет, мне нет 18">Нет</a></div>
      </div>
    </div>
  </div>
  <!-- Блокировка пользователя-->
  <div class="user-block popup__module popup__module--center">
    <div class="user-block__image">
      <picture>
        <source srcset="/image/illustration/popup-user-block.jpg, /image/illustration/popup-user-block@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"><img src="/image/illustration/popup-user-block.m.jpg" srcset="/image/illustration/popup-user-block.m@2x.jpg 2x" loading="lazy" alt="illustration">
      </picture>
    </div>
    <div class="user-block__main">
      <div class="user-block__title">
        <h3>Извините, контент на данном сайте предназначен&nbsp;для&nbsp;лиц, старше 18 лет</h3>
      </div>
    </div>
  </div>
  <!-- Уведомление о поступлении товара-->
  <div class="notify popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="notify__main">
      <div class="notify__title">
        <h3>Уведомление о&nbsp;поступлении товара</h3>
      </div>
      <div class="notify__text">
        <p>Оставьте заявку и мы сообщим вам, когда товар появится в наличии.</p>
      </div>
      <form class="form notify-form" name="notify" autocomplete="off">
        <input type="hidden" name="product-id" value="2">
        <fieldset class="form__line">
          <input class="form__input" type="email" name="email" required placeholder="Email*" value="" title="Ваш email">
        </fieldset>
        <div class="form__button">
          <div class="button button--accent"><a href="#" data-action="send-form" title="Оставить заявку">Оставить заявку</a></div>
        </div>
      </form>
    </div>
  </div>
  <!-- Спасибо-->
  <div class="thanks popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="thanks__main">
      <div class="thanks__title">
        <h3>Спасибо, ваша заявка&nbsp;отправлена</h3>
      </div>
      <div class="thanks__text">
        <p>Мы сообщим вам, когда товар появится&nbsp;в&nbsp;наличии.</p>
      </div>
      <div class="thanks__button">
        <div class="button button--accent"><a href="#" data-action="close-popup" title="Продолжить покупки">Продолжить покупки</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Popup end-->
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=caf8d5c"></script><script defer src="/assets/js/main.js?v=20de6a9"></script></body>
</html>
