src/view/index.pug
extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'index'
  -
    let products = [
      { id: 1, category: 'Стимулятор вакуумный', title: 'SATISFYER 2 next gen', price: '1 864' },
      { id: 2, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' },
      { id: 3, category: 'Стимулятор яйцо', title: 'TENGA № 8 crater', price: '552' },
      { id: 4, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' },
      { id: 5, category: 'Стимулятор вакуумный', title: 'SATISFYER 2 next gen', price: '1 864' },
      { id: 6, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' },
      { id: 7, category: 'Стимулятор яйцо', title: 'TENGA № 8 crater', price: '552' },
      { id: 8, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' }
    ]

block content
  section#index
    .container
      .index.content
        .index__image
          picture
            source(srcset='/image/illustration/main.jpg, /image/illustration/main@2x.jpg 2x' media='(min-width: 768px)' type='image/jpeg')
            img(src='/image/illustration/main.m.jpg' srcset='/image/illustration/main.m@2x.jpg 2x' loading='eager' alt='illustration')
        .index__main
          .index__title
            h1
              | Искренний магазин и&nbsp;блог&nbsp;про 
              span sexual&nbsp;wellness
          .index__button
            .button.button--main
              a(href='/catalog.html' title='Перейти в каталог') Перейти в каталог
  section#about
    .container
      .about.content
        .about__title
          h2 Наедине — проводник в мир чувственных моментов с&nbsp;собой и&nbsp;с&nbsp;партнером
        .about__text
          p Наша цель — разрушить стереотипы и&nbsp;без&nbsp;всякого стеснения рассказать нашим покупателям о любви к&nbsp;себе и&nbsp;своему телу
        ul.about-list
          - for (let i = 1; i <= 6; i++)
            li.about-list__image
              img(src='/image/illustration/about/' + i + '.jpg' srcset='/image/illustration/about/' + i + '@2x.jpg 2x' loading='eager' alt='illustration')
  section#new
    .container
      .new.content
        .new__title
          h2 Новинки
        .new-list
          each product in products
            .product-card.new-list__item
              .product-card__image
                a(href='/product.html' title=product.title)
                  img(src='/image/product/' + product.id + '.png' srcset='/image/product/' + product.id + '@2x.png 2x' loading='lazy' alt=product.title)
              .product-card__category
                a(href='#' title=product.category) #{ product.category }
              .product-card__group
                .product-card__title
                  a(href='/product.html' title=product.title)
                    h4 #{ product.title }
                .product-card__price #{ product.price } сум
  #discount
    .container
      .discount.content
        .discount__image.discount__image--left
          img(src='/image/illustration/discount.jpg' srcset='/image/illustration/discount@2x.jpg 2x' loading='lazy' alt='illustration')
        .discount__main
          .discount__image
            img(src='/image/illustration/discount-2.jpg' srcset='/image/illustration/discount-2@2x.jpg 2x' loading='lazy' alt='illustration')
          .discount__title
            span скидка 15%
            |  на первый заказ
  section#top
    .container
      .top.content
        .top__title
          h2 Популярные товары
        .top-list
          each product in products
            - if (product.id <= 4)
              .product-card.top-list__item
                .product-card__image
                  a(href='/product-none.html' title=product.title)
                    img(src='/image/product/' + product.id + '.png' srcset='/image/product/' + product.id + '@2x.png 2x' loading='lazy' alt=product.title)
                .product-card__category
                  a(href='#' title=product.category) #{ product.category }
                .product-card__group
                  .product-card__title
                    a(href='/product-none.html' title=product.title)
                      h4 #{ product.title }
                  .product-card__price #{ product.price } сум
  #accent
    .container
      .accent.content
        .accent-info
          .accent-info__image
            img(src='/image/illustration/accent.jpg' srcset='/image/illustration/accent@2x.jpg 2x' loading='lazy' alt='illustration')
          .accent-info__title
            span SATISFYER pro
            |  g-spot rabbit
          .accent-info__price 24 837 сум
        ul.accent-tags
          li.accent-tags__item
            a(href='#' title='Стимуляторы клитора и точки g') Стимуляторы клитора и точки g
          li.accent-tags__item
            a(href='#' title='Для женщин') Для женщин
          li.accent-tags__item
            a(href='#' title='Силикон') Силикон
        .accent__product
          .accent__image
            img(src='/image/product/8.png' srcset='/image/product/8@2x.png 2x' loading='lazy' alt='SATISFYER pro g-spot rabbit')
          .accent__button
            .button
              a(href='/product.html' title='Подробнее о товаре') Подробнее о товаре
  #message
    .container
      .message.content
        .message__image
          picture
            source(srcset='/image/illustration/message.jpg, /image/illustration/message@2x.jpg 2x' media='(min-width: 768px)' type='image/jpeg')
            img(src='/image/illustration/message.m.jpg' srcset='/image/illustration/message.m@2x.jpg 2x' loading='lazy' alt='illustration')
        .message__main
          .message__title Мы считаем, что чем лучше человек понимает свое тело, тем меньше у него поводов для стеснения и тем больше любви, нежности к себе
          .message__text
            p Никаких компромиссов, только лучшие товары мировых брендов в&nbsp;совокупности с отличным сервисом и полным сопровождением от&nbsp;момента выбора и до получения своих покупок
  section#articles
    .container
      .articles.content
        .articles__title
          h2
            | Читайте статьи про&nbsp;
            span sexual wellness
            |  в&nbsp;нашем блоге
        ul.articles-list
          li.articles-list__item
            a(href='#' target='_blank' title='Гид по яйцам-мастурбаторам')
              .articles-list__image
                img(src='/image/illustration/articles/1.jpg' srcset='/image/illustration/articles/1@2x.jpg 2x' loading='lazy' alt='Гид по яйцам-мастурбаторам')
              .articles-list__title Гид по яйцам-мастурбаторам
          li.articles-list__item
            a(href='#' target='_blank' title='Чувственность и сексуальность: в чём разница?')
              .articles-list__image
                img(src='/image/illustration/articles/2.jpg' srcset='/image/illustration/articles/2@2x.jpg 2x' loading='lazy' alt='Чувственность и сексуальность: в чём разница?')
              .articles-list__title.articles-list__title--center Чувственность и&nbsp;сексуальность: в&nbsp;чём разница?
          li.articles-list__item
            a(href='#' target='_blank' title='Как самооценка влияет на секс')
              .articles-list__image
                img(src='/image/illustration/articles/3.jpg' srcset='/image/illustration/articles/3@2x.jpg 2x' loading='lazy' alt='Как самооценка влияет на секс')
              .articles-list__title.articles-list__title--center Как самооценка влияет на секс
          li.articles-list__item
            a(href='#' target='_blank' title='Топ-5 игрушек для пар')
              .articles-list__image
                img(src='/image/illustration/articles/4.jpg' srcset='/image/illustration/articles/4@2x.jpg 2x' loading='lazy' alt='Топ-5 игрушек для пар')
              .articles-list__title Топ-5 игрушек для&nbsp;пар
        .articles__button
          .button
            a(href='//instagram.com/naedine' target='_blank' title='Подписаться на блог') Подписаться на блог

public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Наедине</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="theme-color" content="#ffffff">
    <!-- icon & css-->
    <link rel="icon" href="/image/favicon.ico" sizes="any">
    <link rel="icon" href="/image/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
  <link href="/assets/css/vendors.css?v=dc9fcb1" rel="stylesheet"><link href="/assets/css/main.css?v=969d1b5" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header__group">
        <div class="header-logo"><a href="/" title="Наедине"><img src="/image/logo.svg" alt="Наедине"></a></div>
        <nav class="header-menu">
          <ul>
            <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
            <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
            <li><a href="/faq.html" title="FAQ">FAQ</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__group">
        <div class="header-cart"><a href="/cart.html" title="Корзина">
            <svg>
              <use href="/image/icon/cart.svg#cart"></use>
            </svg><span>0</span></a></div>
        <div class="header-menu-bar"><a href="#" data-action="open-menu" title="Открыть меню">
            <svg>
              <use href="/image/icon/menu.svg#menu"></use>
            </svg></a></div>
      </div>
    </div>
  </div>
</header>
<!-- Menu-->
<div id="menu">
  <div class="container">
    <div class="menu content">
      <div class="menu__link"><a href="#" data-action="close-menu" title="Закрыть меню">
          <svg>
            <use href="/image/icon/close.svg#close"></use>
          </svg></a></div>
      <div class="menu-logo"><img src="/image/logo.svg" alt="Наедине"></div>
      <nav class="menu-menu">
        <ul>
          <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
          <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
          <li><a href="/faq.html" title="FAQ">FAQ</a></li>
        </ul>
      </nav>
      <div class="menu-contacts">
        <div class="menu-contacts__link"><a href="tel:+79009009090" title="Позвонить">+7 900 900 90 90</a></div>
        <div class="menu-contacts__link"><a href="mailto:naedine.uz@gmail.com" title="Написать">naedine.uz@gmail.com</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Menu end-->
      <main>
        <section id="index">
          <div class="container">
            <div class="index content">
              <div class="index__image">
                <picture>
                  <source srcset="/image/illustration/main.jpg, /image/illustration/main@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"><img src="/image/illustration/main.m.jpg" srcset="/image/illustration/main.m@2x.jpg 2x" loading="eager" alt="illustration">
                </picture>
              </div>
              <div class="index__main">
                <div class="index__title">
                  <h1>Искренний магазин и&nbsp;блог&nbsp;про <span>sexual&nbsp;wellness</span></h1>
                </div>
                <div class="index__button">
                  <div class="button button--main"><a href="/catalog.html" title="Перейти в каталог">Перейти в каталог</a></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="about">
          <div class="container">
            <div class="about content">
              <div class="about__title">
                <h2>Наедине — проводник в мир чувственных моментов с&nbsp;собой и&nbsp;с&nbsp;партнером</h2>
              </div>
              <div class="about__text">
                <p>Наша цель — разрушить стереотипы и&nbsp;без&nbsp;всякого стеснения рассказать нашим покупателям о любви к&nbsp;себе и&nbsp;своему телу</p>
              </div>
              <ul class="about-list">
                <li class="about-list__image"><img src="/image/illustration/about/1.jpg" srcset="/image/illustration/about/1@2x.jpg 2x" loading="eager" alt="illustration"></li>
                <li class="about-list__image"><img src="/image/illustration/about/2.jpg" srcset="/image/illustration/about/2@2x.jpg 2x" loading="eager" alt="illustration"></li>
                <li class="about-list__image"><img src="/image/illustration/about/3.jpg" srcset="/image/illustration/about/3@2x.jpg 2x" loading="eager" alt="illustration"></li>
                <li class="about-list__image"><img src="/image/illustration/about/4.jpg" srcset="/image/illustration/about/4@2x.jpg 2x" loading="eager" alt="illustration"></li>
                <li class="about-list__image"><img src="/image/illustration/about/5.jpg" srcset="/image/illustration/about/5@2x.jpg 2x" loading="eager" alt="illustration"></li>
                <li class="about-list__image"><img src="/image/illustration/about/6.jpg" srcset="/image/illustration/about/6@2x.jpg 2x" loading="eager" alt="illustration"></li>
              </ul>
            </div>
          </div>
        </section>
        <section id="new">
          <div class="container">
            <div class="new content">
              <div class="new__title">
                <h2>Новинки</h2>
              </div>
              <div class="new-list">
                <div class="product-card new-list__item">
                  <div class="product-card__image"><a href="/product.html" title="SATISFYER 2 next gen"><img src="/image/product/1.png" srcset="/image/product/1@2x.png 2x" loading="lazy" alt="SATISFYER 2 next gen"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор вакуумный">Стимулятор вакуумный</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="SATISFYER 2 next gen">
                        <h4>SATISFYER 2 next gen</h4></a></div>
                    <div class="product-card__price">1 864 сум</div>
                  </div>
                </div>
                <div class="product-card new-list__item">
                  <div class="product-card__image"><a href="/product.html" title="WOMANIZER premium 2 pink"><img src="/image/product/2.png" srcset="/image/product/2@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
                <div class="product-card new-list__item">
                  <div class="product-card__image"><a href="/product.html" title="TENGA № 8 crater"><img src="/image/product/3.png" srcset="/image/product/3@2x.png 2x" loading="lazy" alt="TENGA № 8 crater"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор яйцо">Стимулятор яйцо</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="TENGA № 8 crater">
                        <h4>TENGA № 8 crater</h4></a></div>
                    <div class="product-card__price">552 сум</div>
                  </div>
                </div>
                <div class="product-card new-list__item">
                  <div class="product-card__image"><a href="/product.html" title="WOMANIZER premium 2 pink"><img src="/image/product/4.png" srcset="/image/product/4@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
                <div class="product-card new-list__item">
                  <div class="product-card__image"><a href="/product.html" title="SATISFYER 2 next gen"><img src="/image/product/5.png" srcset="/image/product/5@2x.png 2x" loading="lazy" alt="SATISFYER 2 next gen"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор вакуумный">Стимулятор вакуумный</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="SATISFYER 2 next gen">
                        <h4>SATISFYER 2 next gen</h4></a></div>
                    <div class="product-card__price">1 864 сум</div>
                  </div>
                </div>
                <div class="product-card new-list__item">
                  <div class="product-card__image"><a href="/product.html" title="WOMANIZER premium 2 pink"><img src="/image/product/6.png" srcset="/image/product/6@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
                <div class="product-card new-list__item">
                  <div class="product-card__image"><a href="/product.html" title="TENGA № 8 crater"><img src="/image/product/7.png" srcset="/image/product/7@2x.png 2x" loading="lazy" alt="TENGA № 8 crater"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор яйцо">Стимулятор яйцо</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="TENGA № 8 crater">
                        <h4>TENGA № 8 crater</h4></a></div>
                    <div class="product-card__price">552 сум</div>
                  </div>
                </div>
                <div class="product-card new-list__item">
                  <div class="product-card__image"><a href="/product.html" title="WOMANIZER premium 2 pink"><img src="/image/product/8.png" srcset="/image/product/8@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div id="discount">
          <div class="container">
            <div class="discount content">
              <div class="discount__image discount__image--left"><img src="/image/illustration/discount.jpg" srcset="/image/illustration/discount@2x.jpg 2x" loading="lazy" alt="illustration"></div>
              <div class="discount__main">
                <div class="discount__image"><img src="/image/illustration/discount-2.jpg" srcset="/image/illustration/discount-2@2x.jpg 2x" loading="lazy" alt="illustration"></div>
                <div class="discount__title"><span>скидка 15%</span> на первый заказ</div>
              </div>
            </div>
          </div>
        </div>
        <section id="top">
          <div class="container">
            <div class="top content">
              <div class="top__title">
                <h2>Популярные товары</h2>
              </div>
              <div class="top-list">
                <div class="product-card top-list__item">
                  <div class="product-card__image"><a href="/product-none.html" title="SATISFYER 2 next gen"><img src="/image/product/1.png" srcset="/image/product/1@2x.png 2x" loading="lazy" alt="SATISFYER 2 next gen"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор вакуумный">Стимулятор вакуумный</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product-none.html" title="SATISFYER 2 next gen">
                        <h4>SATISFYER 2 next gen</h4></a></div>
                    <div class="product-card__price">1 864 сум</div>
                  </div>
                </div>
                <div class="product-card top-list__item">
                  <div class="product-card__image"><a href="/product-none.html" title="WOMANIZER premium 2 pink"><img src="/image/product/2.png" srcset="/image/product/2@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product-none.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
                <div class="product-card top-list__item">
                  <div class="product-card__image"><a href="/product-none.html" title="TENGA № 8 crater"><img src="/image/product/3.png" srcset="/image/product/3@2x.png 2x" loading="lazy" alt="TENGA № 8 crater"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор яйцо">Стимулятор яйцо</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product-none.html" title="TENGA № 8 crater">
                        <h4>TENGA № 8 crater</h4></a></div>
                    <div class="product-card__price">552 сум</div>
                  </div>
                </div>
                <div class="product-card top-list__item">
                  <div class="product-card__image"><a href="/product-none.html" title="WOMANIZER premium 2 pink"><img src="/image/product/4.png" srcset="/image/product/4@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product-none.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div id="accent">
          <div class="container">
            <div class="accent content">
              <div class="accent-info">
                <div class="accent-info__image"><img src="/image/illustration/accent.jpg" srcset="/image/illustration/accent@2x.jpg 2x" loading="lazy" alt="illustration"></div>
                <div class="accent-info__title"><span>SATISFYER pro</span> g-spot rabbit</div>
                <div class="accent-info__price">24 837 сум</div>
              </div>
              <ul class="accent-tags">
                <li class="accent-tags__item"><a href="#" title="Стимуляторы клитора и точки g">Стимуляторы клитора и точки g</a></li>
                <li class="accent-tags__item"><a href="#" title="Для женщин">Для женщин</a></li>
                <li class="accent-tags__item"><a href="#" title="Силикон">Силикон</a></li>
              </ul>
              <div class="accent__product">
                <div class="accent__image"><img src="/image/product/8.png" srcset="/image/product/8@2x.png 2x" loading="lazy" alt="SATISFYER pro g-spot rabbit"></div>
                <div class="accent__button">
                  <div class="button"><a href="/product.html" title="Подробнее о товаре">Подробнее о товаре</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="message">
          <div class="container">
            <div class="message content">
              <div class="message__image">
                <picture>
                  <source srcset="/image/illustration/message.jpg, /image/illustration/message@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"><img src="/image/illustration/message.m.jpg" srcset="/image/illustration/message.m@2x.jpg 2x" loading="lazy" alt="illustration">
                </picture>
              </div>
              <div class="message__main">
                <div class="message__title">Мы считаем, что чем лучше человек понимает свое тело, тем меньше у него поводов для стеснения и тем больше любви, нежности к себе</div>
                <div class="message__text">
                  <p>Никаких компромиссов, только лучшие товары мировых брендов в&nbsp;совокупности с отличным сервисом и полным сопровождением от&nbsp;момента выбора и до получения своих покупок</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section id="articles">
          <div class="container">
            <div class="articles content">
              <div class="articles__title">
                <h2>Читайте статьи про&nbsp;<span>sexual wellness</span> в&nbsp;нашем блоге</h2>
              </div>
              <ul class="articles-list">
                <li class="articles-list__item"><a href="#" target="_blank" title="Гид по яйцам-мастурбаторам">
                    <div class="articles-list__image"><img src="/image/illustration/articles/1.jpg" srcset="/image/illustration/articles/1@2x.jpg 2x" loading="lazy" alt="Гид по яйцам-мастурбаторам"></div>
                    <div class="articles-list__title">Гид по яйцам-мастурбаторам</div></a></li>
                <li class="articles-list__item"><a href="#" target="_blank" title="Чувственность и сексуальность: в чём разница?">
                    <div class="articles-list__image"><img src="/image/illustration/articles/2.jpg" srcset="/image/illustration/articles/2@2x.jpg 2x" loading="lazy" alt="Чувственность и сексуальность: в чём разница?"></div>
                    <div class="articles-list__title articles-list__title--center">Чувственность и&nbsp;сексуальность: в&nbsp;чём разница?</div></a></li>
                <li class="articles-list__item"><a href="#" target="_blank" title="Как самооценка влияет на секс">
                    <div class="articles-list__image"><img src="/image/illustration/articles/3.jpg" srcset="/image/illustration/articles/3@2x.jpg 2x" loading="lazy" alt="Как самооценка влияет на секс"></div>
                    <div class="articles-list__title articles-list__title--center">Как самооценка влияет на секс</div></a></li>
                <li class="articles-list__item"><a href="#" target="_blank" title="Топ-5 игрушек для пар">
                    <div class="articles-list__image"><img src="/image/illustration/articles/4.jpg" srcset="/image/illustration/articles/4@2x.jpg 2x" loading="lazy" alt="Топ-5 игрушек для пар"></div>
                    <div class="articles-list__title">Топ-5 игрушек для&nbsp;пар</div></a></li>
              </ul>
              <div class="articles__button">
                <div class="button"><a href="//instagram.com/naedine" target="_blank" title="Подписаться на блог">Подписаться на блог</a></div>
              </div>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <div class="footer__main">
        <div class="footer-logo"><img src="/image/logo.svg" alt="Наедине"></div>
        <div class="footer-copyright">
          <p>&copy; Наедине, 2023</p>
        </div>
      </div>
      <div class="footer__navigation">
        <nav class="footer-menu">
          <ul>
            <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
            <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
            <li><a href="/faq.html" title="FAQ">FAQ</a></li>
          </ul>
        </nav>
        <nav class="footer-terms-menu">
          <ul>
            <li><a href="/terms.html" title="Соглашение на&nbsp;обработку&nbsp;данных">Соглашение на&nbsp;обработку&nbsp;данных</a></li>
            <li><a href="/terms.html" title="Публичная оферта">Публичная оферта</a></li>
            <li><a href="/certificates.html" title="Сертификаты">Сертификаты</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__info">
        <div class="footer-contacts">
          <div class="footer-contacts__link"><a href="tel:+79009009090" title="Позвонить">+7 900 900 90 90</a></div>
          <div class="footer-contacts__link"><a href="mailto:naedine.uz@gmail.com" title="Написать">naedine.uz@gmail.com</a></div>
        </div>
        <div class="footer__link">Дизайн сайта: <a href="//etakanikul.ru" target="_blank" title="etakanikul">etakanikul</a></div>
      </div>
    </div>
  </div>
</footer>
    </div>
<!-- Popup-->
<div class="popup" id="popup">
  <div class="popup__overlay" data-action="close-popup"></div>
  <!-- Проверка пользователя на возраст-->
  <div class="age-verify popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="age-verify__main">
      <div class="age-verify__title">
        <h3>Вам есть 18 лет?</h3>
      </div>
      <div class="age-verify__text">
        <p>На сайте может содержаться информация, не&nbsp;предназначенная для&nbsp;лиц, не достигших 18 лет.</p>
      </div>
      <div class="age-verify__buttons">
        <div class="button button--accent"><a href="#" data-action="yes" title="Да, мне есть 18">Да</a></div>
        <div class="button button--light"><a href="#" data-action="no" title="Нет, мне нет 18">Нет</a></div>
      </div>
    </div>
  </div>
  <!-- Блокировка пользователя-->
  <div class="user-block popup__module popup__module--center">
    <div class="user-block__image">
      <picture>
        <source srcset="/image/illustration/popup-user-block.jpg, /image/illustration/popup-user-block@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"><img src="/image/illustration/popup-user-block.m.jpg" srcset="/image/illustration/popup-user-block.m@2x.jpg 2x" loading="lazy" alt="illustration">
      </picture>
    </div>
    <div class="user-block__main">
      <div class="user-block__title">
        <h3>Извините, контент на данном сайте предназначен&nbsp;для&nbsp;лиц, старше 18 лет</h3>
      </div>
    </div>
  </div>
  <!-- Уведомление о поступлении товара-->
  <div class="notify popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="notify__main">
      <div class="notify__title">
        <h3>Уведомление о&nbsp;поступлении товара</h3>
      </div>
      <div class="notify__text">
        <p>Оставьте заявку и мы сообщим вам, когда товар появится в наличии.</p>
      </div>
      <form class="form notify-form" name="notify" autocomplete="off">
        <input type="hidden" name="product-id" value="2">
        <fieldset class="form__line">
          <input class="form__input" type="email" name="email" required placeholder="Email*" value="" title="Ваш email">
        </fieldset>
        <div class="form__button">
          <div class="button button--accent"><a href="#" data-action="send-form" title="Оставить заявку">Оставить заявку</a></div>
        </div>
      </form>
    </div>
  </div>
  <!-- Спасибо-->
  <div class="thanks popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="thanks__main">
      <div class="thanks__title">
        <h3>Спасибо, ваша заявка&nbsp;отправлена</h3>
      </div>
      <div class="thanks__text">
        <p>Мы сообщим вам, когда товар появится&nbsp;в&nbsp;наличии.</p>
      </div>
      <div class="thanks__button">
        <div class="button button--accent"><a href="#" data-action="close-popup" title="Продолжить покупки">Продолжить покупки</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Popup end-->
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=caf8d5c"></script><script defer src="/assets/js/main.js?v=20de6a9"></script></body>
</html>
