src/view/order.pug
extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'order'

block content
  section#order
    .container
      .order.content
        .order__title
          h1 Оформление заказа
        .order__main
          form.form.order-form(name='order' autocomplete='off')
            .form__block
              .form__title
                h3 Ваши данные
              .form__group
                fieldset.form__line
                  input.form__input(type='text' name='name' required placeholder='Имя*' value='' title='Ваше имя')
                fieldset.form__line
                  input.form__input(type='email' name='email' required placeholder='Email*' value='' title='Ваш email')
                fieldset.form__line
                  input.form__input(type='tel' name='phone' required placeholder='Телефон*' value='' title='Ваш номер телефона')
                fieldset.form__line
                  input.form__input(type='text' name='address' required placeholder='Адрес*' value='' title='Ваш адрес')
                fieldset.form__line
                  input.form__input(type='text' name='datetime' required placeholder='Дата и время доставки*' value='' title='Дата и время доставки')
                fieldset.form__line
                  input.form__input(type='text' name='comment' placeholder='Комментарий' value='' title='Комментарий')
            .form__block
              .form__title
                h3 Способ доставки
              .form__text
                p Анонимная доставка: ваш товар будет упакован в непрозрачную упаковку без товарных знаков. Никто, кроме вас, не будет знать, что в коробке 🤫.
              .form__group
                fieldset.form__radio
                  label.radio.checked
                    input.radio__input(type='radio' name='delivery-1' value='Курьером по Ташкенту полностью анонимно' checked)
                    .radio__title Курьером по Ташкенту полностью анонимно
                    .radio__text
                      p При оформлении заказа укажите удобный вам адрес получения и получите ПИН-код, который при встрече нужно будет назвать курьеру.
                    .radio__price 30 000 сум
                    .radio__desc
                      | Приблизительная дата доставки — 
                      span 10 марта 2023
                fieldset.form__radio
                  label.radio
                    input.radio__input(type='radio' name='delivery-2' value='Курьером бесконтактно')
                    .radio__title Курьером бесконтактно
                    .radio__text
                      p Укажите адрес, куда доставить и курьер оставит ваш заказ под дверью или в удобном вам месте без личной встречи. Данный вид доставки доступен только с оплатой на карту.
                    .radio__price 30 000 сум
                    .radio__desc
                      | Приблизительная дата доставки — 
                      span 10 марта 2023
                fieldset.form__radio
                  label.radio
                    input.radio__input(type='radio' name='delivery-3' value='Самовывоз')
                    .radio__title Самовывоз
                    .radio__text
                      p При оформлении доставки таким способом вы увидите адрес, откуда будет осуществляться самовывоз и ваш личный ПИН-код, с помощью которого вы сможете забрать заказ.
                    .radio__price Бесплатно
                    .radio__desc
                      | Приблизительная дата доставки — 
                      span 10 марта 2023
            .form__block
              .form__title
                h3 Способ оплаты
              .form__group
                fieldset.form__radio
                  label.radio.checked
                    input.radio__input(type='radio' name='payment-1' value='Наличными курьеру' checked)
                    .radio__title Наличными курьеру
                    .radio__text
                      p Оплата курьеру при получении.
                fieldset.form__radio
                  label.radio.disabled
                    input.radio__input(type='radio' name='payment-2' value='Перевод на карту' disabled)
                    .radio__title Перевод на карту
                    .radio__text
                      p Скоро добавим этот способ.
          .order-info
            .order-info__group
              .order-info__title
                h3 Ваш заказ
              ul.order-info-list
                li.order-info-list__item
                  .order-info-list__title Сумма заказа
                  .order-info-list__value 0 сум
                li.order-info-list__item
                  .order-info-list__title Доставка
                  .order-info-list__value не выбрано
                li.order-info-list__item
                  .order-info-list__title Скидка
                  .order-info-list__value –0 сум
                li.order-info-list__item
                  .order-info-list__title Итого
                  .order-info-list__value 0 сум
            .order-info__button
              .button.button--accent
                a(href='#' data-action='send-form' title='Оформить заказ') Оформить заказ

public/order.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Наедине</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="theme-color" content="#ffffff">
    <!-- icon & css-->
    <link rel="icon" href="/image/favicon.ico" sizes="any">
    <link rel="icon" href="/image/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
  <link href="/assets/css/vendors.css?v=dc9fcb1" rel="stylesheet"><link href="/assets/css/main.css?v=969d1b5" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header__group">
        <div class="header-logo"><a href="/" title="Наедине"><img src="/image/logo.svg" alt="Наедине"></a></div>
        <nav class="header-menu">
          <ul>
            <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
            <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
            <li><a href="/faq.html" title="FAQ">FAQ</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__group">
        <div class="header-cart"><a href="/cart.html" title="Корзина">
            <svg>
              <use href="/image/icon/cart.svg#cart"></use>
            </svg><span>0</span></a></div>
        <div class="header-menu-bar"><a href="#" data-action="open-menu" title="Открыть меню">
            <svg>
              <use href="/image/icon/menu.svg#menu"></use>
            </svg></a></div>
      </div>
    </div>
  </div>
</header>
<!-- Menu-->
<div id="menu">
  <div class="container">
    <div class="menu content">
      <div class="menu__link"><a href="#" data-action="close-menu" title="Закрыть меню">
          <svg>
            <use href="/image/icon/close.svg#close"></use>
          </svg></a></div>
      <div class="menu-logo"><img src="/image/logo.svg" alt="Наедине"></div>
      <nav class="menu-menu">
        <ul>
          <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
          <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
          <li><a href="/faq.html" title="FAQ">FAQ</a></li>
        </ul>
      </nav>
      <div class="menu-contacts">
        <div class="menu-contacts__link"><a href="tel:+79009009090" title="Позвонить">+7 900 900 90 90</a></div>
        <div class="menu-contacts__link"><a href="mailto:naedine.uz@gmail.com" title="Написать">naedine.uz@gmail.com</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Menu end-->
      <main>
        <section id="order">
          <div class="container">
            <div class="order content">
              <div class="order__title">
                <h1>Оформление заказа</h1>
              </div>
              <div class="order__main">
                <form class="form order-form" name="order" autocomplete="off">
                  <div class="form__block">
                    <div class="form__title">
                      <h3>Ваши данные</h3>
                    </div>
                    <div class="form__group">
                      <fieldset class="form__line">
                        <input class="form__input" type="text" name="name" required placeholder="Имя*" value="" title="Ваше имя">
                      </fieldset>
                      <fieldset class="form__line">
                        <input class="form__input" type="email" name="email" required placeholder="Email*" value="" title="Ваш email">
                      </fieldset>
                      <fieldset class="form__line">
                        <input class="form__input" type="tel" name="phone" required placeholder="Телефон*" value="" title="Ваш номер телефона">
                      </fieldset>
                      <fieldset class="form__line">
                        <input class="form__input" type="text" name="address" required placeholder="Адрес*" value="" title="Ваш адрес">
                      </fieldset>
                      <fieldset class="form__line">
                        <input class="form__input" type="text" name="datetime" required placeholder="Дата и время доставки*" value="" title="Дата и время доставки">
                      </fieldset>
                      <fieldset class="form__line">
                        <input class="form__input" type="text" name="comment" placeholder="Комментарий" value="" title="Комментарий">
                      </fieldset>
                    </div>
                  </div>
                  <div class="form__block">
                    <div class="form__title">
                      <h3>Способ доставки</h3>
                    </div>
                    <div class="form__text">
                      <p>Анонимная доставка: ваш товар будет упакован в непрозрачную упаковку без товарных знаков. Никто, кроме вас, не будет знать, что в коробке 🤫.</p>
                    </div>
                    <div class="form__group">
                      <fieldset class="form__radio">
                        <label class="radio checked">
                          <input class="radio__input" type="radio" name="delivery-1" value="Курьером по Ташкенту полностью анонимно" checked>
                          <div class="radio__title">Курьером по Ташкенту полностью анонимно</div>
                          <div class="radio__text">
                            <p>При оформлении заказа укажите удобный вам адрес получения и получите ПИН-код, который при встрече нужно будет назвать курьеру.</p>
                          </div>
                          <div class="radio__price">30 000 сум</div>
                          <div class="radio__desc">Приблизительная дата доставки — <span>10 марта 2023</span></div>
                        </label>
                      </fieldset>
                      <fieldset class="form__radio">
                        <label class="radio">
                          <input class="radio__input" type="radio" name="delivery-2" value="Курьером бесконтактно">
                          <div class="radio__title">Курьером бесконтактно</div>
                          <div class="radio__text">
                            <p>Укажите адрес, куда доставить и курьер оставит ваш заказ под дверью или в удобном вам месте без личной встречи. Данный вид доставки доступен только с оплатой на карту.</p>
                          </div>
                          <div class="radio__price">30 000 сум</div>
                          <div class="radio__desc">Приблизительная дата доставки — <span>10 марта 2023</span></div>
                        </label>
                      </fieldset>
                      <fieldset class="form__radio">
                        <label class="radio">
                          <input class="radio__input" type="radio" name="delivery-3" value="Самовывоз">
                          <div class="radio__title">Самовывоз</div>
                          <div class="radio__text">
                            <p>При оформлении доставки таким способом вы увидите адрес, откуда будет осуществляться самовывоз и ваш личный ПИН-код, с помощью которого вы сможете забрать заказ.</p>
                          </div>
                          <div class="radio__price">Бесплатно</div>
                          <div class="radio__desc">Приблизительная дата доставки — <span>10 марта 2023</span></div>
                        </label>
                      </fieldset>
                    </div>
                  </div>
                  <div class="form__block">
                    <div class="form__title">
                      <h3>Способ оплаты</h3>
                    </div>
                    <div class="form__group">
                      <fieldset class="form__radio">
                        <label class="radio checked">
                          <input class="radio__input" type="radio" name="payment-1" value="Наличными курьеру" checked>
                          <div class="radio__title">Наличными курьеру</div>
                          <div class="radio__text">
                            <p>Оплата курьеру при получении.</p>
                          </div>
                        </label>
                      </fieldset>
                      <fieldset class="form__radio">
                        <label class="radio disabled">
                          <input class="radio__input" type="radio" name="payment-2" value="Перевод на карту" disabled>
                          <div class="radio__title">Перевод на карту</div>
                          <div class="radio__text">
                            <p>Скоро добавим этот способ.</p>
                          </div>
                        </label>
                      </fieldset>
                    </div>
                  </div>
                </form>
                <div class="order-info">
                  <div class="order-info__group">
                    <div class="order-info__title">
                      <h3>Ваш заказ</h3>
                    </div>
                    <ul class="order-info-list">
                      <li class="order-info-list__item">
                        <div class="order-info-list__title">Сумма заказа</div>
                        <div class="order-info-list__value">0 сум</div>
                      </li>
                      <li class="order-info-list__item">
                        <div class="order-info-list__title">Доставка</div>
                        <div class="order-info-list__value">не выбрано</div>
                      </li>
                      <li class="order-info-list__item">
                        <div class="order-info-list__title">Скидка</div>
                        <div class="order-info-list__value">–0 сум</div>
                      </li>
                      <li class="order-info-list__item">
                        <div class="order-info-list__title">Итого</div>
                        <div class="order-info-list__value">0 сум</div>
                      </li>
                    </ul>
                  </div>
                  <div class="order-info__button">
                    <div class="button button--accent"><a href="#" data-action="send-form" title="Оформить заказ">Оформить заказ</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <div class="footer__main">
        <div class="footer-logo"><img src="/image/logo.svg" alt="Наедине"></div>
        <div class="footer-copyright">
          <p>&copy; Наедине, 2023</p>
        </div>
      </div>
      <div class="footer__navigation">
        <nav class="footer-menu">
          <ul>
            <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
            <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
            <li><a href="/faq.html" title="FAQ">FAQ</a></li>
          </ul>
        </nav>
        <nav class="footer-terms-menu">
          <ul>
            <li><a href="/terms.html" title="Соглашение на&nbsp;обработку&nbsp;данных">Соглашение на&nbsp;обработку&nbsp;данных</a></li>
            <li><a href="/terms.html" title="Публичная оферта">Публичная оферта</a></li>
            <li><a href="/certificates.html" title="Сертификаты">Сертификаты</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__info">
        <div class="footer-contacts">
          <div class="footer-contacts__link"><a href="tel:+79009009090" title="Позвонить">+7 900 900 90 90</a></div>
          <div class="footer-contacts__link"><a href="mailto:naedine.uz@gmail.com" title="Написать">naedine.uz@gmail.com</a></div>
        </div>
        <div class="footer__link">Дизайн сайта: <a href="//etakanikul.ru" target="_blank" title="etakanikul">etakanikul</a></div>
      </div>
    </div>
  </div>
</footer>
    </div>
<!-- Popup-->
<div class="popup" id="popup">
  <div class="popup__overlay" data-action="close-popup"></div>
  <!-- Проверка пользователя на возраст-->
  <div class="age-verify popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="age-verify__main">
      <div class="age-verify__title">
        <h3>Вам есть 18 лет?</h3>
      </div>
      <div class="age-verify__text">
        <p>На сайте может содержаться информация, не&nbsp;предназначенная для&nbsp;лиц, не достигших 18 лет.</p>
      </div>
      <div class="age-verify__buttons">
        <div class="button button--accent"><a href="#" data-action="yes" title="Да, мне есть 18">Да</a></div>
        <div class="button button--light"><a href="#" data-action="no" title="Нет, мне нет 18">Нет</a></div>
      </div>
    </div>
  </div>
  <!-- Блокировка пользователя-->
  <div class="user-block popup__module popup__module--center">
    <div class="user-block__image">
      <picture>
        <source srcset="/image/illustration/popup-user-block.jpg, /image/illustration/popup-user-block@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"><img src="/image/illustration/popup-user-block.m.jpg" srcset="/image/illustration/popup-user-block.m@2x.jpg 2x" loading="lazy" alt="illustration">
      </picture>
    </div>
    <div class="user-block__main">
      <div class="user-block__title">
        <h3>Извините, контент на данном сайте предназначен&nbsp;для&nbsp;лиц, старше 18 лет</h3>
      </div>
    </div>
  </div>
  <!-- Уведомление о поступлении товара-->
  <div class="notify popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="notify__main">
      <div class="notify__title">
        <h3>Уведомление о&nbsp;поступлении товара</h3>
      </div>
      <div class="notify__text">
        <p>Оставьте заявку и мы сообщим вам, когда товар появится в наличии.</p>
      </div>
      <form class="form notify-form" name="notify" autocomplete="off">
        <input type="hidden" name="product-id" value="2">
        <fieldset class="form__line">
          <input class="form__input" type="email" name="email" required placeholder="Email*" value="" title="Ваш email">
        </fieldset>
        <div class="form__button">
          <div class="button button--accent"><a href="#" data-action="send-form" title="Оставить заявку">Оставить заявку</a></div>
        </div>
      </form>
    </div>
  </div>
  <!-- Спасибо-->
  <div class="thanks popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="thanks__main">
      <div class="thanks__title">
        <h3>Спасибо, ваша заявка&nbsp;отправлена</h3>
      </div>
      <div class="thanks__text">
        <p>Мы сообщим вам, когда товар появится&nbsp;в&nbsp;наличии.</p>
      </div>
      <div class="thanks__button">
        <div class="button button--accent"><a href="#" data-action="close-popup" title="Продолжить покупки">Продолжить покупки</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Popup end-->
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=caf8d5c"></script><script defer src="/assets/js/main.js?v=20de6a9"></script></body>
</html>
