public/product-none.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Наедине</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="theme-color" content="#ffffff">
    <!-- icon & css-->
    <link rel="icon" href="/image/favicon.ico" sizes="any">
    <link rel="icon" href="/image/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
  <link href="/assets/css/vendors.css?v=dc9fcb1" rel="stylesheet"><link href="/assets/css/main.css?v=969d1b5" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header__group">
        <div class="header-logo"><a href="/" title="Наедине"><img src="/image/logo.svg" alt="Наедине"></a></div>
        <nav class="header-menu">
          <ul>
            <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
            <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
            <li><a href="/faq.html" title="FAQ">FAQ</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__group">
        <div class="header-cart"><a href="/cart.html" title="Корзина">
            <svg>
              <use href="/image/icon/cart.svg#cart"></use>
            </svg><span>0</span></a></div>
        <div class="header-menu-bar"><a href="#" data-action="open-menu" title="Открыть меню">
            <svg>
              <use href="/image/icon/menu.svg#menu"></use>
            </svg></a></div>
      </div>
    </div>
  </div>
</header>
<!-- Menu-->
<div id="menu">
  <div class="container">
    <div class="menu content">
      <div class="menu__link"><a href="#" data-action="close-menu" title="Закрыть меню">
          <svg>
            <use href="/image/icon/close.svg#close"></use>
          </svg></a></div>
      <div class="menu-logo"><img src="/image/logo.svg" alt="Наедине"></div>
      <nav class="menu-menu">
        <ul>
          <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
          <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
          <li><a href="/faq.html" title="FAQ">FAQ</a></li>
        </ul>
      </nav>
      <div class="menu-contacts">
        <div class="menu-contacts__link"><a href="tel:+79009009090" title="Позвонить">+7 900 900 90 90</a></div>
        <div class="menu-contacts__link"><a href="mailto:naedine.uz@gmail.com" title="Написать">naedine.uz@gmail.com</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Menu end-->
      <main>
        <section id="product">
          <div class="container">
            <nav class="breadcrumbs content">
              <ul>
                <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
                <li>/</li>
                <li><a href="#" title="Вибраторы">Вибраторы</a></li>
                <li>/</li>
                <li>SATISFYER pro penguin next gen</li>
              </ul>
            </nav>
            <div class="product content">
              <div class="product__slider">
                <div class="product-gallery swiper">
                  <div class="product-gallery__wrapper swiper-wrapper">
                    <div class="product-gallery__image swiper-slide"><img src="/image/product/1.png" srcset="/image/product/1@2x.png 2x" loading="eager" alt="SATISFYER pro penguin next gen"></div>
                    <div class="product-gallery__image swiper-slide"><img src="/image/product/2.png" srcset="/image/product/2@2x.png 2x" loading="eager" alt="SATISFYER pro penguin next gen"></div>
                    <div class="product-gallery__image swiper-slide"><img src="/image/product/3.png" srcset="/image/product/3@2x.png 2x" loading="eager" alt="SATISFYER pro penguin next gen"></div>
                  </div>
                </div>
                <div class="product-thumbs swiper" thumbsSlider="">
                  <div class="product-thumbs__wrapper swiper-wrapper">
                    <div class="product-thumbs__image swiper-slide"><img src="/image/product/1.png" srcset="/image/product/1@2x.png 2x" loading="eager" alt="SATISFYER pro penguin next gen"></div>
                    <div class="product-thumbs__image swiper-slide"><img src="/image/product/2.png" srcset="/image/product/2@2x.png 2x" loading="eager" alt="SATISFYER pro penguin next gen"></div>
                    <div class="product-thumbs__image swiper-slide"><img src="/image/product/3.png" srcset="/image/product/3@2x.png 2x" loading="eager" alt="SATISFYER pro penguin next gen"></div>
                  </div>
                </div>
              </div>
              <div class="product__main">
                <div class="product__group">
                  <div class="product__title">
                    <h1>SATISFYER pro penguin next gen</h1>
                  </div>
                  <div class="product__category"><a href="#" title="Стимуляторы клитора и точки g">Стимуляторы клитора и точки g</a></div>
                  <div class="product__price">450 000 сум</div>
                </div>
                <div class="product-control">
                  <div class="product-control__warning">Нет в наличии</div>
                  <div class="product-control__button">
                    <div class="button button--accent"><a href="#" data-action="open-popup" data-popup="notify" title="Уведомить о наличии">Уведомить о наличии</a></div>
                  </div>
                </div>
                <div class="product__text">
                  <p>Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.</p>
                </div>
                <ul class="product-tags">
                  <li class="product-tags__item"><a href="#" title="Стимуляторы клитора и точки g">Стимуляторы клитора и точки g</a></li>
                  <li class="product-tags__item"><a href="#" title="Для женщин">Для женщин</a></li>
                  <li class="product-tags__item"><a href="#" title="Силикон">Силикон</a></li>
                </ul>
                <ul class="product-list">
                  <li class="product-list__item">
                    <div class="product-list__parameter" area-expanded="true">
                      <div class="product-list__title">
                        <h5>Характеристики</h5>
                      </div>
                      <div class="product-list__icon">
                        <svg>
                          <use href="/image/icon/close.svg#close"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="product-list__info">
                      <div class="product-list__text">
                        <p>Материал: безопасный для тела силикон, ABS-пластик</p>
                        <p>Количество режимов вибрации: 11</p>
                        <p>Длина корпуса: 12,5 см</p>
                        <p>Диаметр корпуса: 1,4-2,2 см</p>
                        <p>Цвет: черный</p>
                        <p>Комплектация: 1 вибратор, 1 магнитное зарядное USB-устройство, 1 инструкция</p>
                        <p>Степень защиты IPX7 означает, что прибор полностью защищён от подпадания пыли и может быть погружён в воду на некоторое время (условно, на глубину до 1 метра, на 30 минут). Таким образом, девайс рекомендуется очищать (мыть) под водой, при этом данная степень защиты не предполагает корректную работу игрушки под водой</p>
                        <p>Страна бренда: Германия</p>
                      </div>
                    </div>
                  </li>
                  <li class="product-list__item">
                    <div class="product-list__parameter" area-expanded="false">
                      <div class="product-list__title">
                        <h5>Состав</h5>
                      </div>
                      <div class="product-list__icon">
                        <svg>
                          <use href="/image/icon/plus.svg#plus"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="product-list__info">
                      <div class="product-list__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In iusto porro corporis omnis consequatur asperiores? Dolore, sequi. Autem accusantium enim consequuntur nihil reprehenderit assumenda, odio ad, aspernatur fuga officiis ipsum.</p>
                      </div>
                    </div>
                  </li>
                  <li class="product-list__item">
                    <div class="product-list__parameter" area-expanded="false">
                      <div class="product-list__title">
                        <h5>Доставка и оплата</h5>
                      </div>
                      <div class="product-list__icon">
                        <svg>
                          <use href="/image/icon/plus.svg#plus"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="product-list__info">
                      <div class="product-list__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In iusto porro corporis omnis consequatur asperiores? Dolore, sequi. Autem accusantium enim consequuntur nihil reprehenderit assumenda, odio ad, aspernatur fuga officiis ipsum.</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section id="other">
          <div class="container">
            <div class="other content">
              <div class="other__title">
                <h2>С этим товаром покупают:</h2>
              </div>
              <div class="other-list">
                <div class="product-card other-list__item">
                  <div class="product-card__image"><a href="/product.html" title="SATISFYER 2 next gen"><img src="/image/product/1.png" srcset="/image/product/1@2x.png 2x" loading="lazy" alt="SATISFYER 2 next gen"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор вакуумный">Стимулятор вакуумный</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="SATISFYER 2 next gen">
                        <h4>SATISFYER 2 next gen</h4></a></div>
                    <div class="product-card__price">1 864 сум</div>
                  </div>
                </div>
                <div class="product-card other-list__item">
                  <div class="product-card__image"><a href="/product.html" title="WOMANIZER premium 2 pink"><img src="/image/product/2.png" srcset="/image/product/2@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
                <div class="product-card other-list__item">
                  <div class="product-card__image"><a href="/product.html" title="TENGA № 8 crater"><img src="/image/product/3.png" srcset="/image/product/3@2x.png 2x" loading="lazy" alt="TENGA № 8 crater"></a></div>
                  <div class="product-card__category"><a href="#" title="Стимулятор яйцо">Стимулятор яйцо</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="TENGA № 8 crater">
                        <h4>TENGA № 8 crater</h4></a></div>
                    <div class="product-card__price">552 сум</div>
                  </div>
                </div>
                <div class="product-card other-list__item">
                  <div class="product-card__image"><a href="/product.html" title="WOMANIZER premium 2 pink"><img src="/image/product/4.png" srcset="/image/product/4@2x.png 2x" loading="lazy" alt="WOMANIZER premium 2 pink"></a></div>
                  <div class="product-card__category"><a href="#" title="Клиторальный стимулятор">Клиторальный стимулятор</a></div>
                  <div class="product-card__group">
                    <div class="product-card__title"><a href="/product.html" title="WOMANIZER premium 2 pink">
                        <h4>WOMANIZER premium 2 pink</h4></a></div>
                    <div class="product-card__price">24 837 сум</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <div class="footer__main">
        <div class="footer-logo"><img src="/image/logo.svg" alt="Наедине"></div>
        <div class="footer-copyright">
          <p>&copy; Наедине, 2023</p>
        </div>
      </div>
      <div class="footer__navigation">
        <nav class="footer-menu">
          <ul>
            <li><a href="/catalog.html" title="Каталог">Каталог</a></li>
            <li><a href="/info.html" title="Доставка и оплата">Доставка и оплата</a></li>
            <li><a href="/faq.html" title="FAQ">FAQ</a></li>
          </ul>
        </nav>
        <nav class="footer-terms-menu">
          <ul>
            <li><a href="/terms.html" title="Соглашение на&nbsp;обработку&nbsp;данных">Соглашение на&nbsp;обработку&nbsp;данных</a></li>
            <li><a href="/terms.html" title="Публичная оферта">Публичная оферта</a></li>
            <li><a href="/certificates.html" title="Сертификаты">Сертификаты</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__info">
        <div class="footer-contacts">
          <div class="footer-contacts__link"><a href="tel:+79009009090" title="Позвонить">+7 900 900 90 90</a></div>
          <div class="footer-contacts__link"><a href="mailto:naedine.uz@gmail.com" title="Написать">naedine.uz@gmail.com</a></div>
        </div>
        <div class="footer__link">Дизайн сайта: <a href="//etakanikul.ru" target="_blank" title="etakanikul">etakanikul</a></div>
      </div>
    </div>
  </div>
</footer>
    </div>
<!-- Popup-->
<div class="popup" id="popup">
  <div class="popup__overlay" data-action="close-popup"></div>
  <!-- Проверка пользователя на возраст-->
  <div class="age-verify popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="age-verify__main">
      <div class="age-verify__title">
        <h3>Вам есть 18 лет?</h3>
      </div>
      <div class="age-verify__text">
        <p>На сайте может содержаться информация, не&nbsp;предназначенная для&nbsp;лиц, не достигших 18 лет.</p>
      </div>
      <div class="age-verify__buttons">
        <div class="button button--accent"><a href="#" data-action="yes" title="Да, мне есть 18">Да</a></div>
        <div class="button button--light"><a href="#" data-action="no" title="Нет, мне нет 18">Нет</a></div>
      </div>
    </div>
  </div>
  <!-- Блокировка пользователя-->
  <div class="user-block popup__module popup__module--center">
    <div class="user-block__image">
      <picture>
        <source srcset="/image/illustration/popup-user-block.jpg, /image/illustration/popup-user-block@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"><img src="/image/illustration/popup-user-block.m.jpg" srcset="/image/illustration/popup-user-block.m@2x.jpg 2x" loading="lazy" alt="illustration">
      </picture>
    </div>
    <div class="user-block__main">
      <div class="user-block__title">
        <h3>Извините, контент на данном сайте предназначен&nbsp;для&nbsp;лиц, старше 18 лет</h3>
      </div>
    </div>
  </div>
  <!-- Уведомление о поступлении товара-->
  <div class="notify popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="notify__main">
      <div class="notify__title">
        <h3>Уведомление о&nbsp;поступлении товара</h3>
      </div>
      <div class="notify__text">
        <p>Оставьте заявку и мы сообщим вам, когда товар появится в наличии.</p>
      </div>
      <form class="form notify-form" name="notify" autocomplete="off">
        <input type="hidden" name="product-id" value="2">
        <fieldset class="form__line">
          <input class="form__input" type="email" name="email" required placeholder="Email*" value="" title="Ваш email">
        </fieldset>
        <div class="form__button">
          <div class="button button--accent"><a href="#" data-action="send-form" title="Оставить заявку">Оставить заявку</a></div>
        </div>
      </form>
    </div>
  </div>
  <!-- Спасибо-->
  <div class="thanks popup__module popup__module--center">
    <div class="popup__link"><a href="#" data-action="close-popup" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a></div>
    <div class="thanks__main">
      <div class="thanks__title">
        <h3>Спасибо, ваша заявка&nbsp;отправлена</h3>
      </div>
      <div class="thanks__text">
        <p>Мы сообщим вам, когда товар появится&nbsp;в&nbsp;наличии.</p>
      </div>
      <div class="thanks__button">
        <div class="button button--accent"><a href="#" data-action="close-popup" title="Продолжить покупки">Продолжить покупки</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Popup end-->
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=caf8d5c"></script><script defer src="/assets/js/main.js?v=20de6a9"></script></body>
</html>

src/view/product-none.pug
extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'product'
  -
    let products = [
      { id: 1, category: 'Стимулятор вакуумный', title: 'SATISFYER 2 next gen', price: '1 864' },
      { id: 2, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' },
      { id: 3, category: 'Стимулятор яйцо', title: 'TENGA № 8 crater', price: '552' },
      { id: 4, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' }
    ]

block content
  section#product
    .container
      nav.breadcrumbs.content
        ul
          li
            a(href='/catalog.html' title='Каталог') Каталог
          li /
          li
            a(href='#' title='Вибраторы') Вибраторы
          li /
          li SATISFYER pro penguin next gen
      .product.content
        .product__slider
          .product-gallery.swiper
            .product-gallery__wrapper.swiper-wrapper
              - for (let i = 1; i <= 3; i++)
                .product-gallery__image.swiper-slide
                  img(src='/image/product/' + i + '.png' srcset='/image/product/' + i + '@2x.png 2x' loading='eager' alt='SATISFYER pro penguin next gen')
          .product-thumbs.swiper(thumbsSlider='')
            .product-thumbs__wrapper.swiper-wrapper
              - for (let i = 1; i <= 3; i++)
                .product-thumbs__image.swiper-slide
                  img(src='/image/product/' + i + '.png' srcset='/image/product/' + i + '@2x.png 2x' loading='eager' alt='SATISFYER pro penguin next gen')
        .product__main
          .product__group
            .product__title
              h1 SATISFYER pro penguin next gen
            .product__category
              a(href='#' title='Стимуляторы клитора и точки g') Стимуляторы клитора и точки g
            .product__price 450 000 сум
          .product-control
            .product-control__warning Нет в наличии
            .product-control__button
              .button.button--accent
                a(href='#' data-action='open-popup' data-popup='notify' title='Уведомить о наличии') Уведомить о наличии
          .product__text
            p Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.
          ul.product-tags
            li.product-tags__item
              a(href='#' title='Стимуляторы клитора и точки g') Стимуляторы клитора и точки g
            li.product-tags__item
              a(href='#' title='Для женщин') Для женщин
            li.product-tags__item
              a(href='#' title='Силикон') Силикон
          ul.product-list
            li.product-list__item
              .product-list__parameter(area-expanded='true')
                .product-list__title
                  h5 Характеристики
                .product-list__icon
                  svg
                    use(href='/image/icon/close.svg#close')
              .product-list__info
                .product-list__text
                  p Материал: безопасный для тела силикон, ABS-пластик
                  p Количество режимов вибрации: 11
                  p Длина корпуса: 12,5 см
                  p Диаметр корпуса: 1,4-2,2 см
                  p Цвет: черный
                  p Комплектация: 1 вибратор, 1 магнитное зарядное USB-устройство, 1 инструкция
                  p Степень защиты IPX7 означает, что прибор полностью защищён от подпадания пыли и может быть погружён в воду на некоторое время (условно, на глубину до 1 метра, на 30 минут). Таким образом, девайс рекомендуется очищать (мыть) под водой, при этом данная степень защиты не предполагает корректную работу игрушки под водой
                  p Страна бренда: Германия
            li.product-list__item
              .product-list__parameter(area-expanded='false')
                .product-list__title
                  h5 Состав
                .product-list__icon
                  svg
                    use(href='/image/icon/plus.svg#plus')
              .product-list__info
                .product-list__text
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In iusto porro corporis omnis consequatur asperiores? Dolore, sequi. Autem accusantium enim consequuntur nihil reprehenderit assumenda, odio ad, aspernatur fuga officiis ipsum.
            li.product-list__item
              .product-list__parameter(area-expanded='false')
                .product-list__title
                  h5 Доставка и оплата
                .product-list__icon
                  svg
                    use(href='/image/icon/plus.svg#plus')
              .product-list__info
                .product-list__text
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In iusto porro corporis omnis consequatur asperiores? Dolore, sequi. Autem accusantium enim consequuntur nihil reprehenderit assumenda, odio ad, aspernatur fuga officiis ipsum.
  section#other
    .container
      .other.content
        .other__title
          h2 С этим товаром покупают:
        .other-list
          each product in products
            .product-card.other-list__item
              .product-card__image
                a(href='/product.html' title=product.title)
                  img(src='/image/product/' + product.id + '.png' srcset='/image/product/' + product.id + '@2x.png 2x' loading='lazy' alt=product.title)
              .product-card__category
                a(href='#' title=product.category) #{ product.category }
              .product-card__group
                .product-card__title
                  a(href='/product.html' title=product.title)
                    h4 #{ product.title }
                .product-card__price #{ product.price } сум
